.grid
{
	font-size: 10pt;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	grid-template-rows: auto;
	border-left: 1px solid #ccc;
	margin: 20px auto;
}
.grid > span
{
	padding: 2px 4px;
	line-height: 1.2em;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.grid > span strong
{
	font-size: 12pt;
}
.performance_horizontal_bar_box
{
	margin: 0;
	text-align: center;
	border: solid 1px #afafaf;
	border-width: 1px 1px 0 1px;
	line-height: 18px !important;
}
.performance_horizontal_bar_box strong
{
	width: 50%;
	display: inline-block;
}
div#search_percentile_graphs
{
	border: solid 1px #afafaf;
	border-width: 0 1px 1px 1px;
}
div#search_percentile_graphs a:hover
{
	text-decoration: none !important;
}
/* BASE - Base styles, variables, mixins, etc */
/* Font Colors */
/* Background Colors */
/* Sections */
/* line 1, ../scss/base/_normalize.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  color: #696969 !important;
}
h5
{
	font-weight: bold;
}
h5 em, p em
{
	font-style: normal;
	color: #1a8a52;
	font-weight: bold;
}
/* line 1, ../scss/base/_base.scss */
body {
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  background: #fefefe;
}

/* line 8, ../scss/base/_base.scss */
a {
  text-decoration: none;
}

/* line 12, ../scss/base/_base.scss */
ul, li {
  list-style: none;
}

/* line 16, ../scss/base/_base.scss */
input, textarea, select, checkbox, radio, button
{
	background: #FFF;
	color: #008bb8;
	font-weight: bold;
	border: 1px solid #231f20;
}
textarea:read-only
{
	color: #222;
	background: #FFF;
	padding-left: 10px;
	border-color: #898989;
	border-width: 0 0 0 1px;
}
@media (min-width: 768px) {
	.navbar-header
	{
		float: none;
	}
	.main
	{
		min-height: 1750px;
	}
}
input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.main
{
	background: #fefefe;
}
/* line 19, ../scss/base/_base.scss */
.ob-img {
  height: auto;
  width: 40px;
}

/* line 24, ../scss/base/_base.scss */
.logo-image {
  height: auto;
  width: 350px;
}

/* MODULES - Individial Components */
/* Lists */
/* line 3, ../scss/modules/_typography.scss */
.list {
  margin-bottom: 50px;
}
.container {
	width: 100% !important;
}
/* line 11, ../scss/modules/_typography.scss */
.list-feature li {
  line-height: 1.7em;
}

/* line 18, ../scss/modules/_typography.scss */
.fa-5 {
  font-size: 40px !important;
}

/* line 21, ../scss/modules/_typography.scss */
.fa-4 {
  font-size: 30px !important;
}

/* line 24, ../scss/modules/_typography.scss */
.fa-primary {
  color: #3f99cd;
}

/* Blocks */
/* line 4, ../scss/modules/_blocks.scss */
.block li
{
  margin: 1px 0;
 line-height: 1.2em;
}
.block, .block-light, .block-dark, .block-black, .block-green, .block-center {
  padding: 15px;
  min-height: 250px;
  line-height: 2.0em;
  font-size: 17px;
}
@media (min-width: 768px) {
.block
{
 box-sizing: border-box;
}
}
/* line 10, ../scss/modules/_blocks.scss */
.block h3, .block h4, .block-light h4, .block-dark h4, .block-black h4, .block-green h4, .block-center h4 {
  margin-top: 0px;
  padding-top: 5px;
  color: #fff !important;
  font-weight: bold;
}

/* line 20, ../scss/modules/_blocks.scss */
.block-light {
  background: #7f7f7f;
  color: #fff;
}
.block-light a, .block-dark a, .block-green a {
  color: #FFF;
  font-weight: bold;
}
.block-light input, .block-dark input, .block-green input {
  background: #FFF;
  color: #000;
}
.block-light a:hover, .block-dark a:hover, .block-green a:hover {
  color: #DDD;
  text-decoration: none;
}
/* line 23, ../scss/modules/_blocks.scss */
.block-light i {
  background: white;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid white;
  color: #7f7f7f;
  font-size: 35px;
  padding: 6px;
}

/* line 34, ../scss/modules/_blocks.scss */
.block-dark {
  background: #285f80;
  color: #fff;
}
/* line 38, ../scss/modules/_blocks.scss */
.block-dark i {
  background: white;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid white;
  color: #285f80;
  font-size: 35px;
  padding: 6px;
}
/* line 46, ../scss/modules/_blocks.scss */
.block-dark img {
  width: 50px;
  height: auto;
}
/* line 50, ../scss/modules/_blocks.scss */
.block-dark p {
  padding: 6px;
}

/* line 55, ../scss/modules/_blocks.scss */
.block-black {
  background: #292929;
  color: #fff;
}
/* line 59, ../scss/modules/_blocks.scss */
.block-black i {
  background: white;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid white;
  color: #292929;
  font-size: 35px;
  padding: 6px;
}

/* line 70, ../scss/modules/_blocks.scss */
.block-green {
  background: #1a8a52;
  color: #fff;
}
/* line 74, ../scss/modules/_blocks.scss */
.block-green i {
  background: white;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid white;
  color: #1a8a52;
  font-size: 35px;
  padding: 6px;
}

/* line 85, ../scss/modules/_blocks.scss */
.block-center {
  background: #cc8d3f;
  color: #fff;
}
/* line 90, ../scss/modules/_blocks.scss */
.block-center i {
  background: white;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid white;
  color: #CC8D3F;
  font-size: 35px;
  padding: 6px;
  margin-bottom: 30px;
}
/* line 99, ../scss/modules/_blocks.scss */
.block-center span {
  padding-bottom: 10px;
  color: #000;
}

/* line 105, ../scss/modules/_blocks.scss */
.block-profile {
  margin: 10px 20px;
  line-height: 1.2em;
  background: #cccccc;
}
/* line 110, ../scss/modules/_blocks.scss */
.block-profile i {
  background: white;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid white;
  color: #1a8a52;
  font-size: 18px;
  padding: 2px;
  margin-right: 15px;
  margin-top: 6px;
}
/* line 121, ../scss/modules/_blocks.scss */
.block-profile h4, .block-profile h4 a {
  font-weight: bold;
  color: #1a8a52 !important;
}
/* line 125, ../scss/modules/_blocks.scss */
.block-profile span {
  padding-bottom: 10px !important;
  color: #000;
}

/* Sections */
/* line 2, ../scss/modules/_sections.scss */
.section {
  padding: 20px 0px;
}

/* line 5, ../scss/modules/_sections.scss */
.section-top-logo {
  display: none;
}

@media (min-width: 768px) {
  /* line 9, ../scss/modules/_sections.scss */
  .section-top-logo {
    display: block;
    background: white;
    color: #fff;
    height: 96px;
  }
  /* line 13, ../scss/modules/_sections.scss */
  .section-top-logo h2 {
    padding-top: 30px;
    color: #666666;
  }
}
/* line 19, ../scss/modules/_sections.scss */
.section-showcase {
  display: none;
}

@media (min-width: 768px) {
  /* line 24, ../scss/modules/_sections.scss */
  .section-showcase {
    display: block;
    min-height: 300px;
    color: #fff !important;
    background: #285f80;
    color: #fff;
  }
  /* line 29, ../scss/modules/_sections.scss */
  .section-showcase .showcase-content {
    font-size: 20px;
    padding-bottom: 10px;
  }
  /* line 33, ../scss/modules/_sections.scss */
  .section-showcase h2 {
    color: #fff !important;
  }
  /* line 36, ../scss/modules/_sections.scss */
  .section-showcase img {
    text-align: center;
    height: auto;
    width: 40px;
  }
}
/* line 45, ../scss/modules/_sections.scss */
.section-button .btn-primary {
  background: #3f99cd !important;
  font-size: 16px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
.section-button .btn-primary {
	display: none;
}

	.performance_horizontal_bar_box
	{
		width: 100%;
		margin: 5px 0;
	}
}

/* line 52, ../scss/modules/_sections.scss */
.section-numbers {
  display: none;
}
.section-numbers h3 {
  font-size: 26px;
  text-transform: uppercase;
}
.section-numbers h3 a:hover {
  text-decoration: none;
}
.section-numbers p {
  color: #7F7F7F;
}

@media (min-width: 768px) {
  /* line 56, ../scss/modules/_sections.scss */
  .section-numbers {
    display: block;
    padding: 10px 0px;
    color: #000;
    margin: 0;
    font-weight: bold;
  }
  .section-numbers h3 {
	color: #1a8a52 !important;
	}
  .section-blocks {
  margin: 10px 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  }
}
/* line 69, ../scss/modules/_sections.scss */'
ol li a
{
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
    line-height: 2em;
}
ol li a:hover
{
	text-decoration: none;
	color: #1E476B;
}   

ol li a:before
{
    content: counter(li);
    counter-increment: li;
  background: #285F80;
    color: #FFF;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
	width: 40px;
	display: block;
	float: left;
	margin-right: 4px;
}

ol li a:after{
    content: '';
    border: .5em solid transparent;
    top: 50%;
    transition: all .3s ease-out;               
}
ol li
{
    line-height: 2em;
	display: block;
	height: 40px;
	clear: both;
	padding: 4px;
    font-size: 19px;
}
ol
{
    counter-reset: li;
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
@media (max-width: 670px) {
ol
{
	margin: 0;
	padding: 0;
}
ol li
{
	margin: 0;
	padding: 4px 0;
	font-size: 13px;
}
}
tr:hover td
{
	background: #858585;
}
tr a:hover
{
	text-decoration: none;
	color: #222;
}
tr td label.mouseoverflow
{
	display: none;
}
tr:hover td label.mouseoverflow
{
	display: block;
}
.test_error
{
	color: #FF0000;
	font-size: 12px;
}
.section-table a {
	color: #a63357;
}
.section-table input {
	background: #a63357;
}
.section-table h4 a {
	color: #a63357 !important;
}
.section-table tr:nth-child(even) {
  background: #f2f2f2;
}
/* line 72, ../scss/modules/_sections.scss */
.section-table tr:nth-child(odd) {
  background: #cbcbcb;
}
/* line 75, ../scss/modules/_sections.scss */
.section-table thead th {
  background: #f7fbff;
}
/* line 78, ../scss/modules/_sections.scss */
.section-table .featured {
  background: #FFFEF7 !important;
}
/* line 81, ../scss/modules/_sections.scss */
.section-table .checkbox {
  margin: 0px !important;
}

/* line 86, ../scss/modules/_sections.scss */
.section-sort-by {
  min-height: 50px;
  margin: 5px 20px;
  background: #cccccc;
}
/* line 99, ../scss/modules/_sections.scss */
.section-sort-by .btn-primary:hover, .section-sort-by .btn-primary:active, .section-sort-by .btn-primary.active, .section-sort-by .open > .dropdown-toggle.btn-primary {
  background: #21b069;
  color: #fff;
}

/* Searchbox */
/* line 6, ../scss/modules/_forms.scss */
.search input[type="text"] {
  height: 40px;
  color: #222;
  background: #fff;
  border: 1px solid #898989;
}
/* line 13, ../scss/modules/_forms.scss */
.search button {
  background: #898989;
  color: #fff;
  border: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  height: 40px;
}

.navbar {
  background: #fefefe;
  border: 0;
  margin-bottom: 0 !important;
  font-weight: 500;
}
.container-fluid {
	padding: 0 !important;
}
.navbar-collapse {
	padding: 0 !important;
}
/* line 9, ../scss/layouts/_nav.scss */
.navbar-inverse .navbar-nav > li > a {
  padding-top: 20px !important;
  color: #337ca6;
  font-size: 24px;
  letter-spacing: -0.5px;
}
.nav-sidebar > li > a
{
    padding: 7px 0 7px 20px;
}
/* line 17, ../scss/layouts/_nav.scss */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #000;
}

/* line 22, ../scss/layouts/_nav.scss */
.navbar-brand {
  display: none;
}

@media (max-width: 670px) {
  /* line 26, ../scss/layouts/_nav.scss */
  .navbar-brand {
    display: block;
  }
  /* line 30, ../scss/layouts/_nav.scss */
  .navbar-brand .logo-image-mobile {
    max-width: 30px;
    height: auto;
    margin-top: -15px !important;
  }
}
/* line 37, ../scss/layouts/_nav.scss */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .navbar-form .form-control {
 min-width: 250px;
  }
  .sidebar {
    display: block;
    background: #fefefe;
    padding-right: 0px;
    padding-left: 10px;
    border: 1px #cdcdcd solid;
    border-width: 0 1px 0 0;
  }
}
.nav > li > a {
  color: #337ca6;
  font-size: 15px;
  line-height: 1em;

}

.footer {
  background: #337ca6;
  font-size: 12px;
  line-height: 1em;
}

.nav > li > a:hover {
  color: #000;
}

/* line 59, ../scss/layouts/_nav.scss */
li.active {
	padding-top: 5px;
	border: 1px #cdcdcd solid;
	border-width: 1px 0 0 0;
  color: #696969;
  padding-left: 20px;
  font-size: 20px;
}
p.oborg_expandable
{
	text-align: center;
	overflow: auto;
}
div.oborg_expandable_result
{
	text-align: center;
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: top;
}
div.oborg_expandable_result svg
{
	align-self: flex-start;
}
svg
{
	min-width: 40%;
	height: auto;
	user-select: none;
}
div.amzn-native-container  
{
	text-align: center;
	margin: 5px auto;
}
span.amzn-native-header-text
{
	font-weight: bold;
}
div.results_area
{
	text-align: center;
}
div.results_area svg
{
	width: 90%;
	height: auto;
	max-width: 1000px;
}
@media (max-width: 768px) {
div.results_area svg
{
	width: 100%;
	height: auto;
}
div.results_area h2
{
	display: none;
}
}
span#ob_result_compare_info_box
{
	display: none;
	font-weight: bold;
	font-size: 15px;
}
/* line 68, ../scss/layouts/_nav.scss */
.navbar-inverse .navbar-text {
  color: #fff;
  line-height: 120%;
}
/* line 71, ../scss/layouts/_nav.scss */
.navbar-inverse .navbar-text img {
  padding: 30px 0px;
  height: auto;
  width: 100px;
}
/* line 78, ../scss/layouts/_nav.scss */
.navbar-inverse .navbar-text img:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
}

/* line 84, ../scss/layouts/_nav.scss */
.navbar-inverse .navbar-text > p > a, .navbar-inverse .navbar-text > a {
  color: #cccccc !important;
}

/* line 1, ../scss/layouts/_header.scss */
.feature-header {
  color: #7f7f7f;
}
/* line 4, ../scss/layouts/_header.scss */
.feature-header i {
  color: #7f7f7f;
}
label h4 a
{
	font-weight: bold;
}
table div p
{
	font-weight: bold;
}
.close {
  position: absolute;
  top:5px;
  right:7px;
  font-size: 40px;
  font-weight: bold;
  line-height: 12px;
  color:rgba(255, 255, 255, 1) !important;
  text-decoration: none;
}
.close:hover {

  cursor: pointer;
} 
.icons {
	color: #696969;
	font-weight: bold;
}


.wrap-collabsible {
  margin-bottom: 1px;
}
.wrap-collabsible input[type='checkbox'] {
  display: none;
}
.lbl-toggle {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 2px;
  color: #fff;
  background: #a63357;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.lbl-toggle:hover {
  color: #fff;
}
.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}
.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}
.collapsible-content .content-inner {
  background: #f2f2f2;
  padding: 1px 0;
}






.div_table
{
	display: table;
}
div#main_area .div_table_cell input
{
	font-size: 12px;
	padding: 0;
}
.div_table_row
{
	display: table-row;
}
.div_table_row:hover, .div_table_cell:hover, .div_table_cell:hover ~ .div_table_cell
{
	border: solid #999 0;
	border-width: 0 0 1px 0;
}
.div_table_first_row
{
	display: table-row;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
}
.div_table_cell
{
	border: 0;
	display: table-cell;
	padding: 1px 0 1px 4px;
	font-weight: bold;
}
.div_table_cell em
{
	font-style: normal;
	font-weight: 200;
	opacity: 0.9;
	color: #333;
}
.div_table_body
{
	display: table-row-group;
}
.print_notes
{
	display: none;
}
a div.table_test_box:hover
{
	background: #f1f1f1;
	border-color: #1F1F1F;
}
div.pts_test_boxes
{
	overflow: hidden;
}
div.table_test_box
{
	background: #fff;
	color: #000;
	font-size: 12px;
	border: solid #949494 1px;
	display: block;
	margin: 3px;
	padding: 2px 4px;
	float: left;
	width: 280px;
}
div.table_test_box strong
{
	color: #044374;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.table_test_box em, div.pts_test_boxes em
{
	color: #ef5e09;
}
div.pts_result_viewer_settings_box
{
	float: left;
	overflow: hidden;
	padding: 4px;
}
div.pts_result_table
{
	display:flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
}
p#result_file_system_table
{

}
.tabs
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.tabs label
{
	order: 1;
	display: block;
	padding: 5px 10px;
	margin: 0 1px 2px;
	cursor: pointer;
	background: #ef5e09;
	color: #fff;
	transition: background ease 0.5s;
	user-select: none;
}
.tabs .tab
{
	order: 99;
	flex-grow: 1;
	width: 100%;
	display: none;
	padding: 1rem;
}
.tabs input[type="radio"]
{
	display: none;
}
.tabs input[type="radio"]:checked + label
{
	color: #000;
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab
{
	display: block;
}

div#main_area ul
{
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	background: #ef5e09;
	color: #fff;
	clear: both;
}
div#main_area ul:hover a
{
	background: #ef5e09;
	color: #fff;
}
div#main_area ul a
{
	display: block;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	line-height: 26px;
	padding: 4px 8px;
}
div#main_area ul li
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	border-right: 1px solid #aaa;
}
div#main_area ul li:last-of-type{
	border-right:none;
}
div#main_area ul li:hover
{
	color: #222;

}
div#main_area ul ul a:hover, div#main_area ul li a:hover{
	color:#222;
}

div#main_area ul ul a
{
	padding: 0 8px;
	font-weight: 300;
	font-size: 10pt;
}
div#main_area ul ul
{
	display: none;
	position: absolute;
	top: 100%;
	font-weight: 300;
	left: 0;
	background: #fff;
	padding: 0
}
pre
{
	white-space: pre-wrap;
}
div#main_area ul ul li
{
	border: 1px solid #eee;
	border-top: 1px;
	float: none;
}
div#main_area ul li:hover > ul
{
	display: block
}
a img.tp_logo
{
	max-width: 40%;
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%);
}
a img.tp_logo:hover
{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
img.tp_logo
{
	max-width: 40%;
	max-height: 220px;
	height: auto;
	width: auto;
	margin: 0 20px;
	min-width: 150px;
}
img.tp_screenshot
{
	max-width: 30%;
	max-height: 250px;
	height: auto;
	width: auto;
	margin: 5px 20px;
	min-width: 150px;
}
.tp_screenshot_modal
{
	z-index: 3;
	display: none;
	padding-top: 80px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
	color: #000;
}
.flex-container
{
	margin: 20px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	flex-grow: 1;
	flex-basis: 0;
}
.flex-container .flex-item
{
	line-height: 50px;
	text-align: center;
	padding: 10px 20px;
}
.flex-container .flex-item-fixed
{
	line-height: 50px;
	text-align: center;
	padding: 10px 20px;
	flex: 0 0;
}
.flex-container .flex-item h3
{
	padding: 4px 10px;
}
@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
@media (max-width: 1000px) {
	div.pts_result_viewer_settings_box { float: none; font-size: 15pt; }
	div.pts_result_table { display: none; }
	.print_notes { display: block !important; }
	p#result_file_system_table { display: none; }
	div#results svg { width: 100%; }
	div#main_area { padding: 5px; }
	#result_overview_area { display: none !important; }
	div#header ul li { padding: 0 5px; }
}

@media print
{
	#header, #result-settings, ul, a.mini, div.grid, #result_overview_area, .hide_on_print, .tabs label, button { display: none !important; }
	p.mini { font-size: 7px; }
	#main_area, #main_area p, #result_file_desc { font-size: 12px; }
	#main_area h1, #main_area h2 { font-size: 16px; }
	.print_notes { display: block !important; }
}
